* {
    padding: 1px;
    margin: 5px;
}

body, html {
    height: 100%;
    width: 100%;
    background-color: #cbffcd;
    font-family: Arial, Ubuntu, sans-serif;
}

form {
    padding: 1em;
    box-sizing: border-box;
    margin: 0 auto;
}


fieldset {
    background-color: white;
    padding: 1em;
    -webkit-box-shadow: 10px 10px 5px 0 rgb(0, 0, 0);
    -moz-box-shadow: 10px 10px 5px 0 rgb(255, 255, 255);
     box-shadow: 10px 10px 5px 0 rgba(0,0,0,0.75);
    border: none;
}

.width-80 {
    width: 80%;
    margin: 0;
    /* The element with this class should be 80% of the width and it must be centered */
    /* Read how to center elements with margin here: http://learnlayout.com/margin-auto.html*/
}

.form-group {
    width: 99%;
    margin-top: 0.5em;
    margin-bottom: 0.5em;
    /* This element must use 100% of the width */
    /* It should have a separation of .5em from elements on top of it and below it*/
}

.form-label {
    font-weight: bold;
    border: 10px lightgrey;
}

.btn-block {
   width: 100%;
}

.btn {
    padding: 8px;
    font-weight: bold;
    color: white;
    background-color: #0fb784;
}

.form-control {
    margin-top: 4px;
    margin-bottom: 4px;
    padding: 0.5em;
    width: calc(100% - 1em);
}



